<ion-slide-box style="margin-left:auto; margin-right:auto; margin-top:20px;height:20vh; max-width:800px;" auto-play="true" slide-interval="5000" does-continue="true" on-slide-changed="slideHasChanged($index)">
   <ion-slide>
     <p class="slide-text">here! rechoose your mother language!</p>
   </ion-slide>
   <ion-slide>
     <p class="slide-text">外语是同龄人向同龄人传播的</p>
   </ion-slide>
   <ion-slide>
     <p class="slide-text">language has it's owner 语言是有主人的 同一句话「我爱你」你喜欢的人你讨厌的人说出来是不一样的 </p>
   </ion-slide>
   <ion-slide>
     <p class="slide-text">母语没学好 学不好一门外语 但是可以把这门外语学得跟母语一样烂</p>
   </ion-slide>
</ion-slide-box>
