<ion-view view-title="">
  <ion-content class="padding">
    <div style="margin-left:auto; margin-right:auto; margin-top:10px; max-width: 700px;">
      <div class="list card" >
        <a href="#/tab/discover/users/{{post.user.id}}">
          <div class="item item-avatar">
            <img src="{{post.user.avatar}}">
            <h2>{{post.user.name}}</h2>
            <p ng-bind="post.created_at | date:'yyyy-MM-dd'"></p>
          </div>
        </a>
        <div class="item item-body">
          <img ng-f="post.url" ng-src="{{post.url}}" class="full-image" >
          <p style="margin-left:10px; font-size:100%;" ng-bind-html="post.content"></p>
        </div>
      </div>

    <div style="margin-top:10px;">
      <form ng-submit="sendComment()">
        <label class="item item-input">
          <textarea ng-model="comment.content" cols="3" rows="3"></textarea>
        </label>
        <input type="submit" value="comment" class="button button-small button-block button-calm">
      </form>
    </div>
    <div class="list card" ng-repeat="c in comments">
      <a href="#/tab/discover/users/{{c.user.id}}">
        <div class="item item-avatar">
          <img src="{{c.user.avatar}}">
          <h2>{{c.user.name}}</h2>
          <p ng-bind="c.created_at | date:'yyyy-MM-dd'"></p>
        </div>
      </a>
      <p style="margin-left:75px;">{{c.content}}</p>
    </div>
    <div style="margin-left:auto; margin-right:auto; max-width: 200px;">
      <button ng-show="dataLength == limit" ng-click="loadMore()" class="button button-balanced button-block">load more ... </button>
      <button ng-hide="dataLength == limit" class="button button-stable button-block" >no more</button>
    </div>
  </div>
<!-- <ion-infinite-scroll ng-if="dataLength == limit" on-infinite="loadMore()"></ion-infinite-scroll> -->
</ion-content>
</ion-view>
