<ion-view view-title="Forms">
  <ion-content >
    <div style="margin-left:auto; margin-right:auto; margin-top:10px; max-width: 700px;">
      <div class="list card" ng-repeat="p in posts">
        <div class="item item-avatar">
          <img src="{{p.user.avatar}}">
          <h2>{{p.user.name}} </h2>
          <p ng-bind="p.created_at | date:'yyyy-MM-dd'"></p>
        </div>
        <div class="item item-body">
            <img ng-f="p.url" ng-src="{{p.url}}" class="full-image" >
            <p style="font-size:100%;" ng-bind-html="p.content"></p>
        </div>
      </div>
    </div>
    <ion-infinite-scroll ng-if="dataLength == limit" on-infinite="loadMore()"></ion-infinite-scroll>
  </ion-content>
  <div style="position:fixed; bottom:0px; width: 100vw;">
    <div class="button-bar" >
      <a class="button button-positive"  href="#/login">log in</a>
      <a class="button button-calm"  href="#/signup">sign up</a>
    </div>
  </div>
</ion-view>
