
<ion-view view-title="Forms">
  <ion-content>
    <div >
      login signin
    </div>
    <div class="button-bar">
      <a class="button button-small"  ui-sref-active="active"   ui-sref=".login">First</a>
      <a class="button button-small"  ui-sref-active="active"  ui-sref=".signup">Second</a>
    </div>
    <div ui-view="form"> </div>
    <!-- <ion-nav-view name="form"></ion-nav-view> -->
  </ion-content>
</ion-view>

<!-- ng-class="{'active': true}" -->
<!-- <ion-view view-title="Forms">
<ion-content>
<div class="highlight">
  testsetest
</div>

<ion-tabs class="tabs-striped  tabs-top tabs-background-stable tabs-color-assertive highlight-top" >

   <ion-tab title="Log In" href="#forms/login">
     <ion-nav-view name="form-login"></ion-nav-view>
   </ion-tab>

   <ion-tab title="Sign Up" href="#forms/signup">
     <ion-nav-view name="form-signup"></ion-nav-view>
   </ion-tab>
</ion-tabs>
</ion-content>
</ion-view> -->
