<ion-view hide-nav-bar="true" view-title="">
  <ion-content >
    <ion-slide-box style="height: 20vh; margin-left:auto; margin-right:auto; margin-top:10px; max-width: 900px;" auto-play="true" does-continue="true" on-slide-changed="slideHasChanged($index)">
       <ion-slide>
         <div class="box blue"><h1>BLUE</h1></div>
         <div ng-include="'templates/_login.html'"></div>
       </ion-slide>
       <ion-slide>
         <div class="box yellow"><h1>YELLOW</h1></div>
       </ion-slide>
       <ion-slide>
         <div class="box pink"><h1>PINK</h1></div>
       </ion-slide>
    </ion-slide-box>
    <div style="margin-left:auto; margin-right:auto; margin-top:10px; max-width: 700px;">
      <div class="list card" ng-repeat="p in posts">
        <div ng-include="'templates/_avatar.html'"></div>
        <div class="item item-body">
          <div ng-include="'templates/_img_s.html'"></div>
          <div ng-include="'templates/_content.html'"></div>
        </div>
      </div>
    </div>
    <ion-infinite-scroll ng-if="dataLength == limit" on-infinite="loadMore()"></ion-infinite-scroll>
  </ion-content>
  <div style="position:fixed; bottom:0px; width: 100vw;">
    <div class="button-bar" >
      <a class="button button-positive"  href="#/login">log in</a>
      <a class="button button-calm"  href="#/signup">sign up</a>
    </div>
  </div>
</ion-view>
