
<ion-view view-title="">
  <ion-content class="padding">
    <div style="margin-left:auto; margin-right:auto; margin-top:10px; max-width: 700px;">
      <div class="list card" >
        <a href="#/tab/home/users/{{p.user.id}}">
          <div ng-include="'templates/_avatar.html'"></div>
        </a>
        <div class="item item-body">
          <div ng-include="'templates/_img_l.html'"></div>
          <div ng-include="'templates/_content.html'"></div>
          <!-- <a href="#" class="subdued">1 Like</a> -->
          <!-- <a href="#" class="subdued">{{p.comments_c}} comments</a> -->
        </div>
      </div>

    <div style="margin-top:10px;">
      <form ng-submit="sendComment()">
        <label class="item item-input">
          <textarea ng-model="comment.content" cols="3" rows="3"></textarea>
        </label>
        <input type="submit" value="comment" class="button button-small button-block button-calm">
      </form>
    </div>
    <div class="list card" ng-repeat="p in comments">
      <a href="#/tab/home/users/{{p.user.id}}">
        <div ng-include="'templates/_avatar.html'"></div>
      </a>
      <div ng-include="'templates/_content.html'"></div>
    </div>
    <div ng-include="'templates/_loadmore_btn.html'"></div>
  </div>
<!-- <button class="button button-assertive" ng-click="loadMore()">load</button> -->
<!-- <ion-infinite-scroll ng-if="dataLength == limit" on-infinite="loadMore()"></ion-infinite-scroll> -->

</ion-content>
</ion-view>
