<!--
This template loads for the 'tab.friend-detail' state (app.js)
'friend' is a $scope variable created in the FriendsCtrl controller (controllers.js)
The FriendsCtrl pulls data from the Friends service (service.js)
The Friends service returns an array of friend data
-->
<ion-view view-title="{{data.post.title}}">
  <ion-content class="padding">
    <p>
      {{data.post.content}}
    </p>
    <div class="card" ng-repeat="c in data.comments">
      <a href="#/tab/users/{{c.creator._id}}"> {{c.creator.name}} </a>
      <div class="item item-text-wrap">
        <p>{{c.content}}</p>
      </div>
    </div>
    <div style="margin-top:10px;">
      <form ng-submit="sendComment()">
          <label class="item item-input">
            <textarea ng-model="comment.content" cols="5" rows="5"></textarea>
          </label>
          <label class="item ">
            <input type="submit" value="comment" class="button button-calm">
          </label>
        <div> {{comment}}</div>
      </form>
    </div>
  </ion-content>
</ion-view>
