<ion-view view-title="Discover">
  <ion-content>
    <ion-refresher
    pulling-text="Pull to refresh..."
    on-refresh="doRefresh()">
  </ion-refresher>
  <div ng-include="'templates/_slide_box.html'"></div>
  <div style="margin-left:auto; margin-right:auto; margin-top:10px; max-width: 700px;">
    <div class="list card" ng-repeat="p in posts">
      <a href="#/tab/discover/users/{{p.user.id}}">
        <div ng-include="'templates/_avatar.html'"></div>
      </a>
      <div class="item item-body">
        <a href="#/tab/discover/posts/{{p.id}}">
          <div ng-include="'templates/_content.html'"></div>
          <div ng-include="'templates/_img_s.html'"></div>
        </a>
        <p>
          <a href="#" class="subdued">{{p.comments_c}} comments</a>
        </p>
      </div>
    </div>
  </div>

  <ion-infinite-scroll ng-if="dataLength == limit" on-infinite="loadMore()"></ion-infinite-scroll>
</ion-content>
</ion-view>
