<ion-view view-title="Change">
  <ion-content>
    <!-- <ion-list>
    <ion-item collection-repeat="feed in feeds" item-width="33%"
    item-height="200px" >
    <img ng-src="{{feed.imageFile.url}}">
  </ion-item>
</ion-list> -->

<!-- <div class="tabs-striped tabs-color-assertive">
  <div class="tabs">
    <a class="tab-item" href="#tab/change/sub1">
      <i class="icon ion-home"></i>
      Test
    </a>
    <a class="tab-item" href="#">
      <i class="icon ion-star"></i>
      Favorites
    </a>
    <a class="tab-item" href="#">
      <i class="icon ion-gear-a"></i>
      Settings
    </a>
  </div>
</div> -->
  <div class="">
    change change
  </div>


<!-- <ion-nav-view name="change-pages"></ion-nav-view> -->
<!-- <ui-view name="change-pages"></ui-view> -->

<!-- <h1 class="title">Items</h1>
<button class="button button-icon ion-plus" ng-click="addItem()">
</button>
<ion-list>
  <ion-item ng-repeat="item in items">
    {{item.name}}
  </ion-item>
</ion-list> -->

</ion-content>
</ion-view>
<ion-tabs class="tabs-striped tabs-top tabs-background-stable">
   <ion-tab title="Page 1" href="#tab/change/page1">
     <ion-nav-view name="change-page1"></ion-nav-view>
   </ion-tab>

   <ion-tab title="Page 2" href="#tab/change/page2">
     <ion-nav-view name="change-page2"></ion-nav-view>
   </ion-tab>

</ion-tabs>
