<ion-view view-title="Chats">
  <ion-content>
    <!-- <ion-list>
    <ion-item class="item-remove-animate item-avatar item-icon-right"  ng-repeat="p in posts"  item-height="200px" type="item-text-wrap" href="#/tab/chats/{{p.id}}">

    <h2>{{p.title}}</h2>
    <p>{{p.content}}</p>
    <a class="item item-thumbnail-left" href="#">
  </a>
  <i class="icon ion-chevron-right icon-accessory"></i>
  <ion-option-button class="button-assertive" ng-click="remove(chat)">
  Delete
</ion-option-button>
</ion-item>
</ion-list> -->
<ion-refresher
pulling-text="Pull to refresh..."
on-refresh="doRefresh()">
</ion-refresher>

<div class="card" ng-repeat="p in posts">
  <div class="item item-divider">
    <a href="#/tab/users/{{p.creator._id}}">
     <p>{{p.creator.name}}</p>
    </a>
  </div>
  <a href="#/tab/posts/{{p._id}}">
    <div class="{{p.hidepo}} item item-text-wrap">
      <p>{{p.content}}</p>
      <!-- <img src="{{p.picture.url}}" height="200" width="200" ng-show="'{{p.picture.url}}'"> -->
    </div>
    <!-- <div class="item item-divider">
      I'm a Footer in a Card!
    </div> -->
  </a>
</div>
</ion-content>
</ion-view>
<style media="screen">
  .true {
    background-color: #C4F9FF;
  }
</style>
