<ion-view view-title="Crosslang">
  <ion-content>
    <!-- <ion-list>
    <ion-item collection-repeat="feed in feeds" item-width="33%"
    item-height="200px" >
    <img ng-src="{{feed.imageFile.url}}">
  </ion-item>
</ion-list> -->

<div class="tabs-striped tabs-color-assertive">
  <div class="tabs">
    <a class="tab-item active" href="#">
      <i class="icon ion-home"></i>
      Test
    </a>
    <a class="tab-item active" href="#">
      <i class="icon ion-star"></i>
      Favorites
    </a>
    <a class="tab-item" href="#">
      <i class="icon ion-gear-a"></i>
      Settings
    </a>
  </div>
</div>


<h1 class="title">Items</h1>
<button class="button button-icon ion-plus" ng-click="addItem()">
</button>
<ion-list>
  <ion-item ng-repeat="item in items">
    {{item.name}}
  </ion-item>
</ion-list>

</ion-content>
</ion-view>
