<ion-view view-title="Account">
  <!-- <ion-nav-buttons side="primary">
  <button class="button" ng-click="doSomething()">
  I'm a button on the primary of the navbar!
</button>
</ion-nav-buttons> -->
<ion-content>
  <div class="list">
    <a class="item item-icon-right" href="#/tab/account/userup">
      edit profile
      <i class="icon ion-chevron-right icon-accessory"></i>
    </a>
    <div class="item item-divider">
    </div>
    <a class="item button button-full button-assertive" ng-click=logout()>
      sign out
    </a>
  </div>
</ion-content>
</ion-view>
