<ion-view  view-title="Home">
  <ion-content>
    <ion-refresher
    pulling-text="Pull to refresh..."
    on-refresh="doRefresh()">
  </ion-refresher>
  <div class="list card" ng-repeat="p in posts">
    <a href="#/tab/home/users/{{p.user.id}}">
      <div class="item item-avatar">
        <img src="{{p.user.avatar}}">
        <h2>{{p.user.name}} </h2>
        <!-- <div class=""> the {{$index}} users </div> -->
      </div>
    </a>
    <div class="item item-body">
      <a href="#/tab/home/posts/{{p.id}}">
        <!-- <p class="{{p.hidden}}">{{p.content}}</p> -->
        <div ng-bind-html="p.content"></div>
      </a>
      <p>
        <!-- <a href="#" class="subdued">1 Like</a> -->
        <a href="#" class="subdued">{{p.comments_c}} comments</a>
      </p>
    </div>
    <div class="item tabs tabs-secondary tabs-icon-left">
      <a class="tab-item" href="#">
        <i class="icon ion-thumbsup"></i>
        Like
      </a>
      <a class="tab-item" href="#">
        <i class="icon ion-chatbox"></i>
        Comment
      </a>
      <a class="tab-item" href="#">
        <i class="icon ion-share"></i>
        Share
      </a>
    </div>
  </div>

  <ion-infinite-scroll ng-if="dataLength == limit" on-infinite="loadMore()"></ion-infinite-scroll>
</ion-content>
</ion-view>
