<ion-view view-title="">
  <ion-content class="padding">
    <div class="">
      {{user.email}} 'sss posts
    </div><hr>
    <div class="" ng-hide="isCurrentUser">
      <div class="" ng-show="foing">
        <button class="button button-small button-calm"  ng-click="unfollow()">
          unfollow
        </button>
      </div>
      <div class="" ng-show="!foing">
        <button class="button button-small button-calm"  ng-click="follow()" >
          follow
        </button>
      </div>
    </div>
    <div class="card" ng-repeat="p in user.posts">
      <a href="#/tab/posts/{{p.id}}">
      <div class="item item-text-wrap">
        <p>{{p.content}}</p>
      </div>
      </a>
    </div>

    <!-- <div style="margin-top:10px;">
      <form ng-submit="sendComment()">
          <label class="item item-input">
            <textarea ng-model="comment.content" cols="5" rows="5"></textarea>
          </label>
          <label class="item ">
            <input type="submit" value="comment" class="button button-calm">
          </label>
        <div> {{comment}}</div>
      </form>
    </div> -->
  </ion-content>
</ion-view>
